.card {
  display: inline-block;
  width: 25%;
  animation: fadeInAnimation 0.5s ease-out forwards;
}

.card h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

.input input {
  width: 100%;
  font-size: 1rem;
  color: #414042;
  line-height: 1.25rem;
  padding: 5px;
  margin: 4px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.input input:focus {
  outline: none;
}

.checkbox input {
  width: 1.1rem;
  height: 1.1rem;
  margin: 1rem 0;
}

.checkbox label {
  margin: 1rem 0.5rem;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #666;
}

.actions button {
  border: none;
  background: #398100;
  width: 100%;
  color: #fff;
  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.3rem 0;
  margin: 0 0 5px 0;
  overflow-x: auto;
  height: auto;
  transition: background-color 0.4s ease;
}

.actions button:hover {
  background: #2a5804;
}

.actions p {
  display: block;
  font-size: 0.85rem;
  font-weight: 400;
  color: #126bc5;
  letter-spacing: 0;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  margin: 0.2rem 0;
}

.actions p:hover {
  outline: 0;
  text-decoration: 1px underline;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
