.card {
  display: inline-block;
  width: 25%;
  animation: fadeInAnimation 0.5s ease-out forwards;
  text-align: center;
}

.actions button {
  border: none;
  background-color: #0b6efd;
  width: 100%;
  color: #fff;
  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.3rem 0;
  margin: 10px 0 5px 0;
  overflow-x: auto;
  height: auto;
  transition: background-color 0.4s ease;
}

.actions button:hover {
  background-color: #0550b9;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
